

h1 {
    color: white;
    background-color: black;
    text-align:left;
    font-style:normal;
    font-weight: 800;
    font-family: sans-serif;
    font-size: xx-large;
}
h1 span {
    color:aqua;
}

h2 {
    color:white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-family: sans-serif;
    font-size:x-large;
}
h3 {
    background-color: cornflowerblue;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    text-decoration:underline;
    font-family: sans-serif;
}